.strip h1 {
    color: rgb(255, 0, 0);
    text-shadow: rgb(122, 122, 122) 2px 3px 1px;
}


.strip {
    height: 1000px;
    background-position: center center;
    background-size: cover;
    background-image: url(/public/images/strip.jpg);
}

@media (max-width:768px) {

    .strip {
        position: relative;
        width: 100%;
        background-size:  cover;
        background-repeat: no-repeat;
        background-position: 100%;
        min-height: 100vh;
        background-image: url(/public/images/strip.jpg);
    }

}