.strip h1 {
    color: rgb(255, 0, 0);
    text-shadow: rgb(122, 122, 122) 2px 3px 1px;
}


.strip {
    background-image: url(/public/images/strip.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.CardContent {
    background: rgba(35, 77, 77, 0.278);
}


@media (max-width:768px) {

    .strip {
        background-image: url(/public/images/strip.jpg);
        /* position: relative; */
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

}