/* global css */

.container, .row {
    min-height: inherit;
}

.NewPathLink {
    margin: 16px;
    background-image: url(../public/images/newPath.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 5px 5px 20px 17px rgba(0, 0, 0, 0.41);
    box-shadow: 5px 5px 20px 17px rgba(0, 0, 0, 0.41);
}

.NewPathLink h1 {
    color: rgb(249, 249, 249);
}