/* global css */

.container, .row {
    min-height: inherit;
}

.NewPathLink {
    background-image: url(../public/images/newPath.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NewPathLink h1 {
    color: rgb(249, 249, 249);
}